.details {
    display: flex;
    flex-direction: column;

    & .infos {
        display: flex;
        justify-content: space-between;
        color: $main-color;

        & h1 {
            font-size: 36px;
        }
    }

    & .proprietaire {
        display: flex;
        align-items: center;

        & p {
            font-size: 18px;
            display: flex;
            width: 120px;
            flex-wrap: wrap;
            align-items: center;
            justify-content: right;
        }

        & img {
            border-radius: 50px;
            width: 64px;
            height: 64px;
        }
    }
}
