.infos {
    display: flex;
    justify-content: space-between;
    color: $main-color;

    & .titre_tags {
        display: flex;
        flex-direction: column;
        max-width: 75%;
        padding-top: 25px;
        padding-bottom: 25px;

        & .titre_logement {
            padding-bottom: 10px;

            & h1 {
                font-size: 36px;
            }

            & p {
                font-size: 18px;
            }
        }
    }

    & .prop_stars {
        display: flex;
        flex-direction: column;
        padding-top: 25px;
        padding-bottom: 25px;

        & .proprietaire {
            display: flex;
            align-items: center;

            & p {
                font-size: 18px;
                display: flex;
                width: 120px;
                flex-wrap: wrap;
                align-items: center;
                justify-content: right;
            }

            & img {
                border-radius: 50px;
                width: 64px;
                height: 64px;
            }
        }
    }
}
