.tags {
    & span {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $main-color;
        color: white;
        font-size: 14px;
        height: 25px;
        width: 115px;
        border-radius: 10px;
        // margin-top: 27px;
    }
}
