.tags {
    display: flex;
    justify-content: left;
    gap: 10px;

    & span {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $main-color;
        color: white;
        font-size: 14px;
        height: 25px;
        min-width: 115px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
    }
}
